body {
    font-family: 'Teko', sans-serif;
    text-align: center;
    color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

h3 {
    font-size: 3rem;
}

button {
    font-size: 2rem;
    margin: 15px 15px;
    width: 100px;
    background-color: white;
    color: rgb(140, 96, 175);
    border: 1px solid rgb(140, 96, 175);
    border-radius: 7px;
    cursor: pointer;
    padding: 3px 0;
}

button:hover {
    color: white;
    background-color: rgb(140, 96, 175);
    border-color: rgb(140, 96, 175);
}

#gameOver button {
    background-color: transparent;
    color: rgb(51, 35, 67);
    border-color: rgb(51, 35, 67);
}

#gameOver button:hover {
    background-color: white;
    color: rgb(140, 96, 175);
    border-color: rgb(140, 96, 175);
}

#game {
    background-color: white;
    width: 530px;
    height: auto;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
    border: 10px solid grey;
}

.row {
    justify-content: center;
}

#btnDirection {
    display: none;
    justify-content: center;
    flex-direction: row;
} 

#btnPause {
    visibility: hidden;
}

#displayZone {
    /* visibility: hidden; */
    padding-top: 30px;
}

#gameOver {
    padding-top: 10%;
    display: none;
}

#gameOverMessage {
    font-size: 8rem;
    padding-top: 30px;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes unzoom {
    0% {
      transform: scale(6);
    }
    100% {
      transform: scale(1);
    }
}

@-webkit-keyframes unzoom {
    0% {
      -webkit-transform: scale(6);
    }
    100% {
      -webkit-transform: scale(1);
    }
}

@media screen and (max-width: 798px) {
    #game {
        width: auto;
        height: auto;
    }

    h3 {
        font-size: 4.5rem;
    }

    img {
        width: 100px;
    }

    button {
        font-size: 3.5rem;
        width: 200px;
    }

    #gameOver {
        padding-top: 25%;
    }
    
}

@media screen and (max-width: 425px) {
    body {
        width: 600px;
    }

    h3 {
        font-size: 7rem;
    }

    .row {
        padding: 0 3%;
    }

    .row div {
        flex-direction: column;
        width: 20%;
    }

    img {
        width: 100%;
    }

    button {
        font-size: 6rem;
        width: 200px;
    }

    #btnFormat button {
        margin: 40px 40px;
    }

    #btnDirection button {
        margin: 40px 0;
        width: 200px;
    }

    #gameOverMessage {
        padding-top: 100px;
        font-size: 8rem;
    }
}