/* html, body {
    margin: 0;
    height: 100%;
} */

body {
    font-family: 'Jim Nightshade', cursive;
    text-align: center;
    color: #fff;
    background: url("../img/maraudersmap1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h3 {
    font-size: 4rem;
}

button {
    font-size: 3rem;
    width: 150px;
    margin: 15px 15px;
    background-color: rgb(117, 42, 46);
    color: white;
    border: 1px solid rgb(117, 42, 46);
    border-radius: 7px;
    cursor: pointer;
    padding: 3px 0;
}

button:hover {
    color: white;
    background-color: rgb(75, 27, 29);
    border-color: rgb(75, 27, 29);
}

#game, #gameOver {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(117, 42, 46, 0.7);
    width: 40%;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
}

.row {
    justify-content: center;
}

.row img {
    width: 70px; 
}

#btnDirection {
    display: none;
    justify-content: center;
    flex-direction: row;
} 

#btnPause {
    visibility: hidden;
}

#displayZone {
    /* visibility: hidden; */
    padding-top: 30px;
}

#gameOver {
    display: none;
}

#gameOver button {
    margin-top: 10%;
}

#gameOverMessage {
    color: rgb(112, 41, 45);
    text-shadow: 3px -3px rgb(37, 14, 15);
    font-size: 8rem;
    padding-top: 30px;
}

.reverse {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@keyframes unzoom {
    0% {
      transform: scale(6);
    }
    100% {
      transform: scale(1);
    }
}

@-webkit-keyframes unzoom {
    0% {
      -webkit-transform: scale(6);
    }
    100% {
      -webkit-transform: scale(1);
    }
}

@media screen and (max-width: 798px) {
    #game, #gameOver {
        width: 70%;
    }

    h3 {
        font-size: 4.5rem;
    }

    button {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 425px) {
    body {
        width: 600px;
    }

    #game, #gameOver {
        width: 90%;
    }

    h3 {
        font-size: 5rem;
    }

    .row {
        padding: 0 3%;
    }

    .row div {
        flex-direction: column;
        width: 20%;
    }

    button {
        font-size: 3rem;
    }

    #btnFormat button {
        margin: 40px 40px;
    }

    #btnDirection button {
        margin: 40px 0;
        width: 200px;
    }

    #gameOverMessage {
        padding-top: 100px;
        font-size: 8rem;
    }
}